<mat-toolbar>PERSONAS</mat-toolbar>
<div class="example-container mat-elevation z8">

    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="filtrar($event.target.value)" placeholder="Buscar persona">
        </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="idPersona">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Código</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.idPersona}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombres">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.nombres}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="apellidos">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.apellidos}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="nombresColumnas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: nombresColumnas"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>